<% include ../partials/header %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>
                <a class="btn btn-lg btn-primary" href="/campgrounds/new">Add a new Campground</a>
            </p> 
        </div>   
    </header>
    <div class="row text-center">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-6 col-lg-3 card" style="width: 18rem;">
                <img src="<%= campground.image %>" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
            <!-- <figure class="col-md-6 col-lg-3 figure">
                <img class="img-thumbnail" src="">
                <figcaption class="figure-caption"></figcaption>
                <p>
                    <a href='/campgrounds/<%= campground._id %>' class="btn btn-primary"></a>
                </p>
            </figure> -->
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>